<div class="container">
  <h2>My Bookings List</h2>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Source</th>
          <th>Destination</th>
          <th>Departure Time</th>
          <th>Arrival Time</th>
          <th>Bus ID</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="pointer" (click)="viewBooking(mybooking, index)" *ngFor="let mybooking of myBookings$ | async; let index = index" >
          <td [ngClass]="{'highlight': selectedRowIndex === index}">{{mybooking.source}}</td>
          <td [ngClass]="{'highlight': selectedRowIndex === index}">{{mybooking.destination}}</td>
          <td [ngClass]="{'highlight': selectedRowIndex === index}">{{mybooking.from_time}}</td>
          <td [ngClass]="{'highlight': selectedRowIndex === index}">{{mybooking.to_time}}</td>
          <td [ngClass]="{'highlight': selectedRowIndex === index}">{{mybooking.bus_id}}</td>
          <td [ngClass]="{'highlight': selectedRowIndex === index}">{{mybooking.price}}</td>
          <td><div class="btn-group">
            <button type="button" class="btn btn-default btn" (click)="viewBooking(mybooking, index)"><i class="glyphicon glyphicon-eye-open"></i></button>
            <button type="button" class="btn btn-default btn" (click)="editBooking(mybooking, index)"><i class="glyphicon glyphicon-pencil"></i></button>
            <button type="button" class="btn btn-default btn" (click)="deleteBooking(mybooking, index)"><i class="glyphicon glyphicon-trash"></i></button>
            </div></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>