<div class="container">
  <h1 class="col-xs-12 col-md-8 col-md-offset-2 well">Registration Form</h1>
  <div class="col-xs-12 col-md-8 col-md-offset-2 well">
    <div class="row">
      <form [formGroup]="passengerDetailsForm" (ngSubmit)="onSubmit()">
        <div class="col-sm-12">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="form-group">
            <label>Email Address</label>
            <input type="email" class="form-control" formControlName="email">
          </div>
          <div class="form-group">
            <label>Mobile Number</label>
            <input type="text" class="form-control" formControlName="mobile">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password">
          </div>
          <button type="submit" [disabled]="passengerDetailsForm.pristine || passengerDetailsForm.status === 'INVALID'" class="btn btn-lg btn-info">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>