<div class="container">
  <h2>Choose from the available trips below</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Source</th>
        <th>Destination</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
        <th>Bus ID</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr class="pointer" *ngFor="let trip of availableTrips$ | async; let index = index" (click)="chooseTrip(trip, index)">
        <td [ngClass]="{'highlight': selectedRowIndex === index}">{{trip.source}}</td>
        <td [ngClass]="{'highlight': selectedRowIndex === index}">{{trip.destination}}</td>
        <td [ngClass]="{'highlight': selectedRowIndex === index}">{{trip.from_time}}</td>
        <td [ngClass]="{'highlight': selectedRowIndex === index}">{{trip.to_time}}</td>
        <td [ngClass]="{'highlight': selectedRowIndex === index}">{{trip.bus_id}}</td>
        <td [ngClass]="{'highlight': selectedRowIndex === index}">{{trip.price}}</td>
      </tr>
    </tbody>
  </table>

  <app-booking-details *ngIf="selectedRowIndex > -1"></app-booking-details>

</div>