#backgroundimage {
  background-image: url("/assets/img/desktop2-bg.jpg");
  width: 100vw;
  height: 100vh; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  } 


  @media screen and (max-width: 600px) {
    #backgroundimage {
      background-image: url("/assets/img/phone-bg.jpg");
      } 
  }