.alert {
    background: #f2edda;
    padding: 7px;
    font-size: .9em;
    margin-bottom: 20px;
    display: inline-block;
    animation: 1s alertAnim forwards;
}

.inputerror {
    border: 1.5px solid #f00;
}

.pointer { cursor: pointer; }

.highlight{
    background: #42A948; /* green */
  }

@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateY(-20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}