select.ng-invalid.ng-touched {
    border: 1.5px solid red;
}

.login-box{
    width: 500px;
    height: 292px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 32%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 6px 30px;
}

.well {
    padding: 5px 34px 40px;
    margin-bottom: 20px;
    margin-top: 60px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 45px;
}

.avatar{
    width: 113px;
    height: 65px;
    background-image: url(/assets/img/location-icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-width: 0px;
    border: none;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

@media screen and (max-width: 600px) {
    .login-box{ 
        width: 80%;
        top: 28%;
    }
}
